* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(229, 233, 236);
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  
}
header{
  font-size: 4rem;
  text-align: center;
  background-color: rgb(86, 120, 231);
  border-radius: 5px;
  padding:5px;
  
}

.questions{
  background-color: rgb(169, 197, 221);
  padding: 5px;
  border-radius: 5px;
 
}

.questions-container{
  display:grid;
  gap: 15px;
}

.answers-container{
  display:grid;
  grid-template: auto auto / repeat(5, 1fr);
  
}
.submit{
  background-color: rgb(154, 248, 46);
  padding: 5px;
  border-radius: 5px;
  width:fit-content;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor:pointer;
}
.footer{
  display:grid;
  grid-template: auto auto / repeat(3, 1fr);
  padding:10px;
}
.new-quiz{
  background-color: rgb(224, 141, 16);
  padding: 5px;
  border-radius: 5px;
  width:fit-content;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor:pointer;
}